In [ ]:
print("Ejercicio del año bisiesto")
anio=int(input("Ingrese el año: "))
if(anio % 400 == 0) or (anio % 4 == 0) and (anio % 100 != 0): #Los dos puntos para indicar cuando termina la condición
  print("El año es bisiesto")
else:
  print("El año no es bisiesto")

Ejercicio Bisiesto
Ingrese el año: 2024
El año es bisiesto

In [ ]:
print("Ejercicio uso del Switch")
switcher={1:"Enero",2:"Febrero",3:"Marzo",4:"Abril",5:"Mayo",6:"Junio",7:"Julio",8:"Agosto",9:"Septiembre",10:"Octubre",11:"Noviembre",12:"Diciembre"}
argument=int(input("Ingrese un número:" ))
nombreDeMes=switcher.get(argument,"Mes Invalido")#Lo que se encuentra despues de argument es lo que devuelve en caso de no encontrar el numero recibido en el switch
print(nombreDeMes)

Ejercicio uso del Switch
Ingrese un número:12
Diciembre

In [ ]:
print("Ejercicio de ciclos")
C=-1
I=0
M=0

while(C<0) or (I<=0) or (I>=100) or (M<=0):
  print("Introduce el capital,el interes y el tiempo apropiado")
  C=int(input("Capital: "))
  I=int(input("Interes: "))
  M=int(input("Tiempo en Años: "))

for i in range(M):
  C=C*(1+I/100)
  print("Año",i+1,"||","Monto ",C, "Colones")

Ejercicio de ciclos
Introduce el capital,el interes y el tiempo apropiado
Capital: 1000
Interes: 10
Tiempo en Años: 20
Año 1 || Monto  1100.0 Colones
Año 2 || Monto  1210.0 Colones
Año 3 || Monto  1331.0 Colones
Año 4 || Monto  1464.1000000000001 Colones
Año 5 || Monto  1610.5100000000002 Colones
Año 6 || Monto  1771.5610000000004 Colones
Año 7 || Monto  1948.7171000000005 Colones
Año 8 || Monto  2143.5888100000006 Colones
Año 9 || Monto  2357.9476910000008 Colones
Año 10 || Monto  2593.742460100001 Colones
Año 11 || Monto  2853.1167061100014 Colones
Año 12 || Monto  3138.4283767210018 Colones
Año 13 || Monto  3452.271214393102 Colones
Año 14 || Monto  3797.4983358324125 Colones
Año 15 || Monto  4177.248169415654 Colones
Año 16 || Monto  4594.97298635722 Colones
Año 17 || Monto  5054.470284992943 Colones
Año 18 || Monto  5559.917313492238 Colones
Año 19 || Monto  6115.909044841462 Colones
Año 20 || Monto  6727.499949325608 Colones

In [ ]:
print("Ejercicio de Divisores")
print("Digite un numero")
numero=int(input("Numero: "))

while numero>0:
  Suma=0
  for i in range(1,numero+1):
    if(numero % i == 0):
      Suma=Suma+i
  print(Suma)
  numero=int(input("Numero:"))

  #1+2+5+10=18

Ejercicio de Divisores
Digite un numero
Numero: 12
28
Numero:10
18
Numero:-1